<h2>Popis kontakata</h2>

<table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Ime</th>
            <th>E-mail</th>
            <th>Povezanost</th>
            <th>Pročitano</th>
            <th>Mogućnosti</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td>{{date}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{relation}}</td>
            <td>
                {{#if read}}
                    Da
                {{else}}
                    Ne
                {{/if}}
            </td>
            <td>
                <a href="/contact/view/{{_id}}">Pogledaj</a>
                <a href="/contact/delete/{{_id}}">Obriši</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>